body {
    padding-top: 5rem;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.icon {
    display: inline-block;
    line-height: 30px;
    padding-left: 30px;
    background: url("icon.png") no-repeat scroll 0 0 transparent;
}